streamlit
streamlit-folium
folium
opencv-python
numpy
pandas
requests
Pillow
torch
torchvision
huggingface-hub
transformers
geopy
catboost
scikit-learn
zeyrek
osmnx
networkx
shapely
fastapi
uvicorn
segmentation-models-pytorch
